@import "../styles/variables";

.container {
  .startDate {
    padding: $spacing-unit;
  }
  .endDate {
    padding: $spacing-unit;
  }
}

.searchField {
  padding: $spacing-half;
  margin: $spacing-unit;
  border: solid $secondary-color;
  background-color: $background-color;
  color: $text-color;
}
