@import "../../styles/variables";

/* Modal styles */
#modal a {
  display: inline-block;
  margin-right: 15px;
  text-decoration: none;
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.238);
  max-width: 500px;
  padding: 50px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  background: $background-color;
}

#modal .buttons button {
  display: inline-block;
  margin-right: 15px;
}
