@import "../../styles/variables";

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  display: inline-block;
  animation: spin 2s linear infinite;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.loadingMessage {
  font-size: $font-size-base;
  font-weight: bold;
}
